test.y
__pycache__/
node_modules/
package.json
package-lock.json
public/
!llearn-frontend/package.json
!llearn-frontend/package-lock.json
!llearn-frontend/public/
!llearn-frontend/public/index.html
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
configuration/
*.egg-info/
.installed.cfg
*.egg
*.db
